
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <section id="wrapper">
        <div class="login-register" 
        style="background-image:url(https://www.irhawears.com/public/admin/assets/images/background/login-register.jpg);">
            <div class="login-box card">
                <div class="card-body">
                    <form method="post" class="form-horizontal form-material"  id="loginform" action="https://www.irhawears.com/admin/login_submit">
                      <input type="hidden" name="_token" value="Q3XmKdyghzfBaIRAHmn9hfIwlzROo57UabhyeD61">                        <h3 class="text-center m-b-20">Sign In</h3>
                        <div class="form-group ">
                            <div class="col-xs-12">
                                <input class="form-control" name="email" type="text" required="" placeholder="Email"> 
                                  
                              </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input class="form-control" name="password" type="password" required="" placeholder="Password">
                                  
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12 p-b-20">
                                <a routerLink="/admin/invoices-list" class="btn w-100 btn-lg btn-info btn-rounded text-white">Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>