<div class="topbar">
    <div class="topbar-container" >    
        <div class="left">
            <p>Contact: 03112239342</p>
        </div>
        <div class="right">
            <p> Welcome To Social </p>
        </div>
   </div>
</div>
<div class="header" >
    <div class="header-container" >    
        <div class="logo">
            <h1><a routerLink="/" routerLinkActive="active" >Logo</a> </h1>
        </div>
        <div class="navbar">
            <ul>
            
              
                @if(authService.isAuth()){
                    <li><a routerLink="add-blog" routerLinkActive="active">Write Blog</a> </li>
                     <li><a (click)="authService.logout()" >Logout </a></li>
                }@else{
                    <li><a routerLink="register" routerLinkActive="active">Register</a> </li>
                    <li><a routerLink="login" routerLinkActive="active">Login</a> </li>
                }
            </ul>
        </div>
   </div>
</div>